body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    background: url('https://i.pinimg.com/originals/7d/b7/ff/7db7ff77c9341012106ed15d828c5429.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
